
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Penjualan</h1>

    <div>
        <a href="/">Penjualan</a>
        <a href="/produk">Produk</a>
    </div>
    <br><br>
    <div>
        <table align="center" style="font-family: 'Times New Roman', Times, serif;">
            <tr style="background-color: antiquewhite;">
            <th>Id Transaksi</th>
            <th>Tanggal Transaksi</th>
            <th>Produk</th>
            <th>Harga</th> 
            <th>Jumlah</th>
            <th>Total Penjualan</th>
            </tr>
            <tr align="center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
